body {
  background: rgba(139, 0, 139, 0.175);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

* {
  /* font-family: "Bubblegum Sans", cursive; */
  font-family: cursive;
  color: #800080b5;
}
h1 {
  animation: heartbeat 1s ease-in-out infinite;
}

h2 {
  position: absolute;
  bottom: 1%;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}

.calculator {
  text-align: center;
  /* margin: 70px auto; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: #800080b5 2px solid;
}

button {
  background-color: #800080b5;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}
button:hover {
  transform: scale(1.1);
}

.result {
  margin-top: 16px;
  font-size: 1.2em;
  font-weight: bold;
}

.percentage {
  color: rgba(255, 0, 0, 0.642);
}
.remark {
  color: black;
}

.year {
  color: #000;
}

.foot {
  /* background-color: #fff; */
  color: #000;

  position: absolute;
  left: 60%;
  bottom: 1%;
}
